body {
	background: #8491A3;
	color: #F7FFF6;
}
h1 {
	text-align: center;
	margin-top: 3px;
}
p {
	text-align: center;
}

.table {
	background-color: #93B48B;
	font-family: Faculty Glyphic;
	padding: 20px;
	border-radius: 10px;
	margin-top: 50px;
}
.rounded {
	width: 150px;
	height: 160px;
	border-radius: 5px;
}
